@model HouseChores.Model.DB
<h2><a href="/Home/Kitchen">Kitchen Chores</a></h2>
@foreach (var c in Model.KitchenChores)
{
    <div class="well">
        @c.Chores
    </div>
}
<h2>Bedroom Chores</h2>
@foreach (var c in Model.BedroomChores)
{
    <div class="well">
        @c.Chores
    </div>
}